---
import { Card } from '@flightcore/uikit'
import { Icon } from 'astro-icon/components'

type Props = {
  icon: string
  title: string
  desc: string
}

const { icon, title, desc } = Astro.props
---

<div class="offer-tile">
  <Card className="offer-tile__card" innerClassName="offer-tile__card-inner">
    <Icon class="offer-tile__svg" width={undefined} height={undefined} name={icon} />
  </Card>
  <h6 class="offer-tile__title">
    {title}
  </h6>
  <p class="offer-tile__desc">
    {desc}
  </p>
</div>

<style>
  .offer-tile {
    @apply flex flex-col justify-center items-center;
  }

  .offer-tile :global(.offer-tile__card) {
    @apply w-[72px] h-[72px] p-[2px];
  }

  .offer-tile :global(.offer-tile__card-inner) {
    @apply w-full h-full p-[10px];
  }

  .offer-tile__svg {
    @apply w-[48px] h-[48px];
  }

  .offer-tile__title {
    @apply text-subtitle mt-[16px] mb-[12px];
  }

  .offer-tile__desc {
    @apply text-center;
    @apply text-body3;
  }

  .offer-tile__title,
  .offer-tile__desc {
    @apply select-none;
  }
</style>
