---
import IconTile from '../../../../components/shared/IconTile/IconTile.astro'
import { Icon } from 'astro-icon/components'

type Props = {
  icon: string
  title: string
  desc: string
}

const { icon, title, desc } = Astro.props
---

<div class="offer-tile">
  <IconTile>
    <Icon class="offer-tile__svg" width={undefined} height={undefined} name={icon} />
  </IconTile>
  <h6 class="offer-tile__title">
    {title}
  </h6>
  <p class="offer-tile__desc">
    {desc}
  </p>
</div>

<style>
  .offer-tile {
    @apply flex flex-col justify-center items-center;
  }

  .offer-tile__svg {
    @apply w-[48px] h-[48px];
  }

  .offer-tile__title {
    @apply text-subtitle mt-[16px] mb-[12px];
  }

  .offer-tile__desc {
    @apply text-center;
    @apply text-body3;
  }

  .offer-tile__title,
  .offer-tile__desc {
    @apply select-none;
  }
</style>
